@model TrueStoryMVC.Models.ViewModels.PageListModel<TrueStoryMVC.Models.ViewModels.ShortUserInfoModel, string>

<style>
    td img{
        width: 50px;
        height:50px;
    }
</style>

<h2>Список пользователей</h2>

<form asp-controller="admin" asp-action="userlist" class="mb-4">
    <div class="form-group">
        <input asp-action="userlist" asp-controller="admin" type="text" class="form-control" name="key"/>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-block" value="Поиск" />
    </div>
</form>


@if (Model.ModelsOnCurrentPage != null)
{
<table class="table align-baseline">
    @foreach (var user in Model.ModelsOnCurrentPage)
    {
        <tr>
            <td class="p-0 align-middle">
                <a asp-controller="Users" asp-action="UserPage" asp-route-userName="@user.UserName">
                    @if (user.Avatar != null)
                    {
                        <img class="rounded-circle border ml-2" src="data:image/jpeg ;base64,@(Convert.ToBase64String(user.Avatar))" />
                    }
                    else
                    {
                        <img class="rounded-circle border ml-2" src="~/user_pic.jpg">
                    }
                </a>
                </td>
            <td><a asp-controller="Users" asp-action="UserPage" asp-route-userName="@user.UserName">@user.UserName</a></td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
            </td>
            <td>
                <a asp-action="DeleteUser" asp-controller="admin" asp-route-name="@user.UserName"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
</svg></a>
            </td>
        </tr>
    }
</table>
}
else
{
    <p>По запросу "@Model.Key" ничего не найдено</p>
}

@if (Model.PageListScrolling.canScrollNext())
{
<a asp-action="UserList" asp-route-page="@(Model.PageListScrolling.CurrentPage + 1)" asp-route-key="@Model.Key" class="btn btn-outline-dark">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Вперед
</a>
}
@if (Model.PageListScrolling.canScrollPrevious())
{
<a asp-action="UserList" asp-route-page="@(Model.PageListScrolling.CurrentPage - 1)" asp-route-key="@Model.Key" class="btn btn-outline-dark">
    <i class="glyphicon glyphicon-chevron-right"></i>
    Назад
</a>
}