<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrueStoryMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-action="hot" asp-controller="home">Горячее</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="best" asp-controller="home">Лучшее</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="new" asp-controller="home">Свежее</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row justify-content-end">
            @* Сделать красиво *@
            <noscript>Подключите JavaScript</noscript>

            <div class="col-9 content">
                @RenderBody()
            </div>
            <div class="col-3">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <div id="you">
                            <div>
                                <a asp-controller="Users" asp-action="UserPage" asp-route-userName="@User.Identity.Name">
                                    <img class="rounded-circle user-pic-min" id="you-pic" src="~/user_pic.jpg" style="width: 50px">
                                </a>
                            </div>
                            <div>
                                <span class="ml-2"><a asp-controller="Users" asp-action="UserPage" asp-route-userName="@User.Identity.Name">@User.Identity.Name</a></span>
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <input class="btn btn-link text-reset" type="submit" value="Выход" />
                                </form>
                            </div>
                        </div>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login">Вход</a>
                        <a asp-controller="Account" asp-action="Register">Регистрация</a>
                    }
                }



            <form asp-action="Tag" asp-controller="Home" class="form-inline">
                <div class="form-group mb-1 mt-1">
                    <input asp-action="Tag" asp-controller="Home" name="SomeTags" class="form-control" placeholder="Введите тэги через пробел" />
                </div>
                <button type="submit" class="btn btn-primary">Поиск</button>
            </form>

                <div class="bg-primary p-3 text-center rounded mt-3"><a asp-action="Add" asp-controller="home" class="text-light">Новый пост</a></div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        window.onload = async function() {
            let responce = await fetch('/users/getAvatar', {
                method: 'post',
                headers: {
                    'Accept': 'application/json'
                }
            });

            let json = await responce.json();
            let img = document.getElementById('you-pic');

            if(json.data != null) {
                img.src = "data:image/png;base64," + json.data;
            }
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
