@model TrueStoryMVC.Models.Post

<style>
    .bi-arrow-up-square:hover {
        fill: green;
    }

    .bi-arrow-down-square:hover {
        fill: red;
    }

    .post-content {
        margin-top: 5%;
    }

    .tags-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0% 10% 2% 10%;
    }

    .tags-wrapper a {
        color: #757575;
    }
    .tags-wrapper a:hover {
        color: #252525;
    }
</style>

@if (Model != null)
{
    <div class="col-2" post-id="@Model.Id">
        <div class="like-button" title="Мне нравится">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg" onclick="like(this, 1, @Model.Id, 0)">
                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                <path fill-rule="evenodd" d="M4.646 8.354a.5.5 0 0 0 .708 0L8 5.707l2.646 2.647a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 0 .708z" />
                <path fill-rule="evenodd" d="M8 11.5a.5.5 0 0 0 .5-.5V6a.5.5 0 0 0-1 0v5a.5.5 0 0 0 .5.5z" />
            </svg>
        </div>
        <p id="post-rating-@Model.Id" class="rating">@Model.Rating</p>
        <div class="like-button" title="Мне не нравится">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg" onclick="like(this, 2, @Model.Id, 0)">
                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z" />
                <path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z" />
            </svg>
        </div>
    </div>
    <div class="col-10 border mt-1 p-1" style="background-color: white" post-id="@Model.Id">
        <a asp-action="userpage" asp-controller="users" asp-route-username="@Model.Author" style="padding-left: 5%;">@Model.Author</a>
        @if (User.Identity.Name == Model.Author)
        {
            <a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Id" style="float: right">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
            </a>
        }
        <p-time post-time=@Model.PostTime class="text-secondary ml-1" />
        <h4 class="text-secondary" style="padding-left: 5%"><a asp-action="post" asp-controller="home" asp-route-id="@Model.Id">@Model.Header</a></h4>


        <div class="post-content">

            @{
                int imageCounter = 0;
                int textCounter = 0;

                string[] types = Model.Scheme.Split(' ');

                foreach (var type in types)
                {
                    if (type == "text")
                    {
                        <pre class=" text-justify w-100" style="padding: 0% 3% 2% 3%">@Model.Texts[textCounter++].TextData</pre>
                    }

                    if (type == "image")
                    {
                        <img class="w-100 mx-auto img-fluid" src="data:image/jpeg ;base64,@(Convert.ToBase64String(Model.Pictures[imageCounter++].Picture.Data))" />
                    }
                }
                <div class="tags-wrapper">

                    @if (!String.IsNullOrEmpty(Model.Tags))
                    {
                        string[] tags = Model.Tags.Split(new char[] { ' ', ',', ';' });
                        foreach (string t in tags)
                        {
                            <a asp-controller="home" asp-action="tag" asp-route-sometags="@t">@t</a>
                        }

                    }
                </div>
            }
        </div>
    </div>
}