@model IEnumerable<TrueStoryMVC.Models.Post>
<div class="container">

    @foreach (Post item in Model)
    {
        <div class="row justify-content-center border" style="width:70%">
            <div class="col-8">
                <h2 class="row">@item.Header</h2>
                <p class="row">@item.Text</p>

                @{
                    if (item.PostImages.Count != 0)
                    {
                        foreach (ImageInfo img in item.PostImages)
                        {
                            <div class="row"><img style="width:100%" src="data:image/jpeg ;base64,@(Convert.ToBase64String(img.Data))" /></div>
                        }
                    }
                }

                @if (!String.IsNullOrEmpty(item.Tags))
                {
                    string[] tags = item.Tags.Split(new char[] { ' ', ',', ';' });
                    string PostLine = "";
                    foreach (string t in tags)
                        PostLine += t + " ";
                    <p>@PostLine</p>
                }

                @if(item.comments.Count != 0)
                {
                    foreach (var com in item.comments)
                    {
                        <div class="row"><p>@com.Text</p></div>
                    }
                }
                <div>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id"> Удалить</a>
                </div>
                <form asp-action="Comment" asp-controller="Home">
                    <input type="hidden" value=@item.Id name="comment.PostId">
                    <input name="comment.Text">
                    <input type="submit" value="Отправить">
                </form>
            </div>
        </div>
    }

</div>