@model TrueStoryMVC.Models.User

<style>
    .infoBlock {
        background-color: white;
        height: 500px;
    }

    .profile-header {
        background: linear-gradient(#007bff, pink);
    }
    .input-pic {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 200;
        opacity: 0;
        width: 100%;
        overflow: hidden;
    }

    .user-pic-wrapper{
        display: flex;
        align-items: center;
        justify-content:center;
    }

    .user-pic-wrapper {
        height: 200px;
        position: relative;
    }

    .user-pic-wrapper:hover {
        opacity: 0.5;
    }

    .user-pic {
        width: 100%;
        height: 100%;
    }

</style>

<div class="col-9">
    <div class="row flex-row-reverse">
        <div class="infoBlock border col-10">
            <div class="bg-secondary row profile-header align-content-center  justify-content-around" style="height: 50%">
                
                <div class="user-pic-wrapper">
                    @if (Model.UserName == User.Identity.Name)
                    {
                        <input type="file" onchange="changePic(this)" class="input-pic" accept="image/*" />
                    }
                    @if (Model.Picture.Data == null)
                    {
                        <img class="rounded-circle border user-pic" src="~/user_pic.jpg">
                    }
                    else
                    {
                        <img class="rounded-circle border user-pic" src="data:image/jpeg ;base64,@(Convert.ToBase64String(Model.Picture.Data))" />
                    }

                </div>
            </div>
            <h2 id="userName">@Model.UserName</h2>
            <p>На True Story <how-long-sweet post-time="@Model.RegisterTime" /></p>
            <p>Поставил(а) <span style="color: green"><b>@Model.LikeCount плюсов</b></span>  и <span style="color: red"><b>@Model.DisLikeCount минусов</b></span> </p>
            <div class="row">
                <div class="col-auto">
                    <h4>@Model.Rating</h4>
                    <p>рейтинг</p>
                </div>
                <div class="col-auto">
                    <h4>@Model.CommentCount</h4>
                    <p>комментариев</p>
                </div>
                <div class="col-auto">
                    <h4>@Model.PostCount</h4>
                    <p>постов</p>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/js/PostStaff.js"></script>
<script>
    window.onload = getPostBlock(4, document.getElementById('userName').innerHTML);
    window.addEventListener('scroll', () => getPostBlockAfterScroll(4, document.getElementById('userName').innerHTML), false);

    async function changePic(input) {
        let file = input.files[0];
        let reader = new FileReader();

        reader.readAsArrayBuffer(file);

        reader.onloadend = async function () {
            console.log(reader.result);

           await fetch('/Users/UpdateAvatar', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ Data: Array.from(new Uint8Array(reader.result)) })
           });
            window.location.reload();
        }
        
    }
</script>