@model TrueStoryMVC.Models.User
<div class="row flex-row-reverse">
    <div class="infoBlock border col-10">
        <div class="bg-secondary row profile-header align-content-center  justify-content-around" style="height: 50%">
            <div class="user-pic-wrapper">
                @if (Model.UserName == User.Identity.Name)
                {    
                <environment names="Development">
                    <input type="file" onchange="changePic(this, 'http://localhost:5200')" class="input-pic" accept="image/*" />
                </environment>
                <environment names="Production">
                    <input type="file" onchange="changePic(this, 'http://truestory.northeurope.cloudapp.azure.com')" class="input-pic" accept="image/*" />
                </environment>
                }
                @if (Model.Picture?.Data == null)
                {
                    <img class="rounded-circle border user-pic" src="~/user_pic.jpg">
                }
                else
                {
                    <img class="rounded-circle border user-pic" src="data:image/jpeg ;base64,@(Convert.ToBase64String(Model.Picture.Data))" />
                }

            </div>
        </div>
        <h2 id="userName">@Model.UserName</h2>
        <p>На True Story <how-long-sweet post-time="@Model.RegisterTime" /></p>
        <p>Поставил(а) <span style="color: green"><b>@Model.LikeCount плюсов</b></span>  и <span style="color: red"><b>@Model.DisLikeCount минусов</b></span> </p>
        <div class="row">
            <div class="col-auto">
                <h4>@Model.Rating</h4>
                <p>рейтинг</p>
            </div>
            <div class="col-auto">
                <h4>@Model.CommentCount</h4>
                <p>комментариев</p>
            </div>
            <div class="col-auto">
                <h4>@Model.PostCount</h4>
                <p>постов</p>
            </div>
        </div>
    </div>
</div>


<script src="~/js/PostStaff.js"></script>
<script src="~/js/UserPageScript.js"></script>
<environment names="Development">
    <script>
        window.onload = getPostBlock(4, document.getElementById('userName').innerHTML, 'http://localhost:5200');
        window.addEventListener('scroll', () => getPostBlockAfterScroll(4, document.getElementById('userName').innerHTML, 'http://localhost:5200'), false);
    </script>
</environment>
<environment names="Production">
    <script>
        window.onload = getPostBlock(4, document.getElementById('userName').innerHTML, 'http://truestory.northeurope.cloudapp.azure.com');
        window.addEventListener('scroll', () => getPostBlockAfterScroll(4, document.getElementById('userName').innerHTML, 'http://truestory.northeurope.cloudapp.azure.com'), false);
    </script>
</environment>